<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <script src="js/charts.js"></script>
    </head>
<body style="background-color:darkorchid">
    
</body>
    </html>
    <div hidden id="results"><%= results %></div>
<div id="pie_div" style="margin-top: 100;">

</div>