<!DOCTYPE html>
<html>
    <head>
      <title>POLLING</title>  
    </head>
    <body>
        <div style="margin-top: 30;">
<center><h3><b>THANKS FOR POLLING , YOU HAVE OPTED <mark> <%= choice %></mark></b></h3></center> 
</div>
<button><a href="/result">click here to get result</a></button>

    </body>
</html>